@{
    ViewData["Title"] = "Catalog Search Page";
}
<h3>Catalog</h3>
<ul>
@foreach(var item in Model) {
    <li><img src="@item.ImageUrlSmall" alt="@item.BookTitle"> @item.BookTitle</li>        
}
</ul>